<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Penal Hidalgo - Inicio de Sesión</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="icon" href="~/Content/Master/Img/PoderJudicialHgo.png" type="image/x-icon" />
    <!-- Fonts and icons -->
    @Scripts.Render("~/Scripts/Master/WebFonts")
    @Styles.Render("~/Content/Master/Fonts/FontAwesome")
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { urls: ['~/Content/Master/fonts.css'] },

        });
    </script>

    @Styles.Render("~/Content/Master/Fonts/IcoMoon/")
    <!-- CSS Files -->
    @Styles.Render("~/Content/Master/Site")
</head>

<body class="login bg-dark">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            @RenderBody()
        </div>

        @*<div class="container container-signup animated fadeIn">
            <h3 class="text-center">SIPOH</h3>
            <div class="login-form">
                <div class="form-group">
                    <label for="fullname" class="placeholder"><b>Fullname</b></label>
                    <input  id="fullname" name="fullname" type="text" class="form-control" required>
                </div>


                <div class="row form-action">
                    <div class="col-md-6">
                        <a href="#" id="show-signin" class="btn btn-danger btn-link w-100 fw-bold">Regresar</a>
                    </div>

                </div>
            </div>
        </div>*@
    </div>
    <!--   Core JS Files   -->
    @Scripts.Render("~/Scripts/Master/Jquery")
    @Scripts.Render("~/Scripts/Master/Popper")
    @Scripts.Render("~/Scripts/Master/Bootstrap")

    <!-- jQuery UI -->
    @Scripts.Render("~/Scripts/Master/Jquery_UI_Custom")
    @Scripts.Render("~/Scripts/Master/Jquery_UI_Touch")

    <!-- jQuery Scrollbar -->
    @Scripts.Render("~/Scripts/Master/Jquery_Scrollbar")

    <!-- Ready -->
    @Scripts.Render("~/Scripts/Master/Ready")
</body>

</html>
