<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Penal Hidalgo - Inicio de Sesión</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="icon" href="~/Content/Master/Img/PoderJudicialHgo.png" type="image/x-icon" />
    <!-- Fonts and icons -->
    @Scripts.Render("~/Scripts/webFont")
    @Styles.Render("~/Content/FontAwesome")

    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { urls: ['~/Content/StyleFonts.css'] },

        });
    </script>

    @Styles.Render("~/Content/IcoMoon")
    <!-- CSS Files -->
    @Styles.Render("~/Content/StyleSite")
</head>

<body class="login login-page ">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            @RenderBody()
        </div>

        @*<div class="container container-signup animated fadeIn">
                <h3 class="text-center">SIPOH</h3>
                <div class="login-form">
                    <div class="form-group">
                        <label for="fullname" class="placeholder"><b>Fullname</b></label>
                        <input  id="fullname" name="fullname" type="text" class="form-control" required>
                    </div>


                    <div class="row form-action">
                        <div class="col-md-6">
                            <a href="#" id="show-signin" class="btn btn-danger btn-link w-100 fw-bold">Regresar</a>
                        </div>

                    </div>
                </div>
            </div>*@
    </div>
    <!--   Core JS Files   -->
    @Scripts.Render("~/Scripts/jQuery")
    @Scripts.Render("~/Scripts/popper")
    @Scripts.Render("~/Scripts/bootstrap")

    <!-- jQuery UI -->
    @Scripts.Render("~/Scripts/uITouch")

    <!-- jQuery Scrollbar -->
    @Scripts.Render("~/Scripts/jQueryScrollbar")

    <!-- Ready -->
    @Scripts.Render("~/Scripts/ready")

    @RenderSection("scripts", required: false)
</body>

</html>
