<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Penal Hidalgo - Inicio de Sesión</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="icon" href="~/Content/Master/Img/PoderJudicialHgo.png" type="image/x-icon" />
    <!-- Fonts and icons -->
    @Scripts.Render("~/Scripts/Lib_WebFont")
    @Styles.Render("~/Content/FontAwesome")

    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { urls: ['~/Content/Style_Fonts.css'] },

        });
    </script>

    @Styles.Render("~/Content/IcoMoon")
    <!-- CSS Files -->
    @Styles.Render("~/Content/StyleSite")
</head>

<body class="login login-page ">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            @RenderBody()
        </div>

        @*<div class="container container-signup animated fadeIn">
            <h3 class="text-center">SIPOH</h3>
            <div class="login-form">
                <div class="form-group">
                    <label for="fullname" class="placeholder"><b>Fullname</b></label>
                    <input  id="fullname" name="fullname" type="text" class="form-control" required>
                </div>


                <div class="row form-action">
                    <div class="col-md-6">
                        <a href="#" id="show-signin" class="btn btn-danger btn-link w-100 fw-bold">Regresar</a>
                    </div>

                </div>
            </div>
        </div>*@
    </div>
    <!--   Core JS Files   -->
    @Scripts.Render("~/Scripts/Lib_JQuery.min")
    @Scripts.Render("~/Scripts/Lib_Popper")
    @Scripts.Render("~/Scripts/Lib_Bootstrap.min")

    <!-- jQuery UI -->
    @Scripts.Render("~/Scripts/Lib_UITouch")

    <!-- jQuery Scrollbar -->
    @Scripts.Render("~/Scripts/Lib_JQueryScrollbarMin"  )

    <!-- Ready -->
    @Scripts.Render("~/Scripts/Lib_Ready.min")
</body>

</html>
