@{
    ViewBag.Title = "Iniciales";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm">

            <div class="card-header">
                <h6 class="card-title">
                   Registro de Iniciales de Ejecución
                </h6>
            </div>

            <div class="card-body">

                @Html.Hidden("IdCircuitoHDN", (object)Usuario.IdCircuito)
                @Html.Hidden("IdOtroAnexoHDN", (int)ViewBag.IdOtroAnexos)
                @Html.Hidden("IdOtroSolicitudHDN", (int)ViewBag.IdOtroSolicitud)
                @Html.Hidden("IdOtroSolicitanteHDN", (int)ViewBag.IdOtroSolicitante)
             
                <!-- #region Pestañas -->
                <ul class="nav nav-pills nav-success" id="pills-tab" role="tablist">
                    <li class="nav-sm nav-item">
                        <a class="nav-link active" id="juzgadoA-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="icon-office mr-2"></i>Juzgado Acusatorio</a>
                    </li>
                    <li class="nav-sm nav-item">
                        <a class="nav-link" id="juzgadoT-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="icon-library mr-2"></i> Juzgado Tradicional</a>
                    </li>
                </ul>

                <!-- #endregion -->

                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form id="formCausas" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-12 col-lg-6 form-group">

                                    <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>

                                    @Html.DropDownList("SelectJuzgadoAcusatorio", (SelectList)ViewBag.JuzgadosAcusatorios, "SELECCIONAR OPCIÓN", new { @id = "slctJuzgado", @class = "custom-select custom-select-sm", @required = "required" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Por favor, selecciona un juzgado.
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3 form-group">
                                    <label for="slcNumero"><strong> Causa | Nuc</strong></label>
                                    <select class="custom-select custom-select-sm" id="slctNumero">
                                        <option value="1">NUMERO DE CAUSA</option>
                                        <option value="2">NUMERO UNICO DE CASO</option>
                                    </select>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Opción seleccionada.
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 form-group">
                                    <label class="" for="inpNumero" id="NumeroLabel"><strong>Numero de Causa</strong></label>
                                    <div class="input-group">
                                        <input type="text" id="Numero" placeholder="0000/0000" name="Numero" class="form-control form-control-sm mr-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-inputmask-clearmaskonlostfocus="true" required>
                                        <button class="btn btn-success btn-sm" type="submit" id="btnNUC" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fa fa-search"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Introduzca un Numero de Causa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <form id="formCausasTradicional" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label for="slcNumero"><strong>Distrito de Procedencia</strong></label>

                                    @Html.DropDownList("DistritoPorCircuito", (SelectList)ViewBag.DistritosPorCircuito, "SELECCIONAR OPCIÓN", new { @id = "slctDistrito", @class = "custom-select custom-select-sm", @required = "required" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Por favor, selecciona un distrito.
                                    </div>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Distrito seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-5 form-group">
                                    <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>
                                    <select class="custom-select custom-select-sm" id="slctJuzgadoTradi" required>
                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                    </select>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Juzgado de procedencia, seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label for="validationCustomUsername"><strong>Numero de Causa</strong></label>
                                    <div class="input-group" id="divCAU">
                                        @*<div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">CAUSA</span>
                                        </div>*@
                                        <input type="text" class="form-control form-control-sm mr-2" id="inpCAUT" aria-describedby="inpCAU" placeholder="0000/0000" required>
                                        <button class="btn btn-success btn-sm" type="submit" id="btnCAU" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fas fa-search"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-checkmark"></i> Introduce numero de causa.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> Numero de causa introducido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="form-row">
                        <div class="col-12">
                            <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas</h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover table-bordered" width="100%">
                        </table>
                    </div>
                </div>
           
                <div class="separator-solid"></div>

                <div class="tab-content">
                    <div class="form-row">
                        <div class="col-12 col-md-7 form-group">
                            <form id="formTocas" class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="col-12 col-md-6">
                                        <label for="validationCustom04"><strong>Salas Disponibles</strong></label>

                                        @if (ViewBag.SalasAcusatorioTotal == 1)
                                        {
                                            @Html.DropDownList("SalasAcusatorio", (SelectList)ViewBag.SalasAcusatorio, new { @id = "slctSalaAcusatorio", @class = "custom-select custom-select-sm", @required = "required" })
                                        }
                                        else
                                        {
                                            @Html.DropDownList("SalasAcusatorio", (SelectList)ViewBag.SalasAcusatorio, "SELECCIONAR OPCIÓN", new { @id = "slctSalaAcusatorio", @class = "custom-select custom-select-sm", @required = "required" })
                                        }

                                        @Html.DropDownList("SalasTradicional", (SelectList)ViewBag.SalasTradicional, "SELECCIONAR OPCIÓN", new { @id = "slctSalaTradicional", @class = "custom-select custom-select-sm", @hidden = "hidden" })

                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Por favor, selecciona una sala.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="validationCustom04"><strong>Numero de Toca</strong></label>
                                        <div class="input-group " id="divToca">
                                            @*<div class="input-group-prepend">
                                                <span class="input-group-text" id="lbToca">Toca</span>
                                            </div>*@
                                            <input type="text" placeholder="0000/0000"  class="form-control form-control-sm mr-2" id="inpToca" aria-describedby="inpToca" data-inputmask-clearmaskonlostfocus="true" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnToca" data-toggle="tooltip" data-placement="top" title="Agregar Toca"><i class="fas fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                <i class="icon-notification"></i> Por favor, introduce un numero de toca.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> Se introdujo numero de toca.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-row">
                                <div class="col-12 mt-3">
                                    <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Salas</h6>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive text-small">
                                        <table class="table table-hover table-bordered" id="dataTableTocas" width="100%" cellspacing="0">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <form id="formAmparos" class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="col-12 col-md-12">
                                        <label for="validationCustom04"><strong>Sentencia de Amparo Vinculada</strong></label>
                                        <div class="input-group" id="divAmparo">
                                            @*<div class="input-group-prepend">
                                                <span class="input-group-text" id="lbAmparo">Amparo</span>
                                            </div>*@
                                            <input type="text" class="form-control form-control-sm mr-2" id="ipnAmparo" aria-describedby="inpAmparo" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnAmparo" data-toggle="tooltip" data-placement="top" title="Agregar Sentencia de Amparo"><i class="fas fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                <i class="icon-notification"></i> Por favor, introcude una cantidad.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> Se introdujo cantidad.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-row">
                                <div class="col-12 mt-3">
                                    <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Amparos</h6>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive text-small">
                                        <table class="table table-hover table-bordered" id="dataTableAmparos" width="100%" cellspacing="0">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONTENEDOR BENEFICIARIO -->
                <div class="tab-content" id="contenedorBeneficiario" hidden>

                    <div class="separator-solid"></div>

                    <form id="formEjecucion" class="needs-validation" novalidate>
                        <!-- BUSCADOR BENEFICIARIO -->
                        <div id="seccionBusquedaBeneficiario">

                            <!-- FILA UNO -->
                            <div class="form-row mt-2">
                                <div class="col-12 col-md-8">
                                    @*<label for="validationCustomUsername"><strong>Sentenciado | Beneficiario</strong></label>*@

                                </div>
                                <div class="col-12 col-md-4 mt-1">
                                    <div class="input-group" id="divBusquedaSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbBusquedaSentenciado">Total</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm mr-2" id="inpBusquedaSentenciado" aria-describedby="inpNumero" disabled>
                                        <button id="botonMostrarBeneficiarios" type="button" class="btn btn-secondary btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Ver Coincidencias"><i class="fa fa-eye icon"></i></button>
                                        <button id="botonCheckBeneficiarios" type="button" class="btn btn-secondary btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Continuar Registro"><i class="icon-checkmark"></i></button>
                                        <button id="botonCerrarBeneficiarios" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Cancelar Registro"><i class="icon-cross"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- FILA DOS -->
                            <div class="form-row  mt-1">
                                <div class="col-12 col-md-4 mt-2">
                                    <label><strong>Nombre(s) Sentenciado-Beneficiario</strong></label>
                                    <div class="input-group" id="divNombreSentenciado ">
                                        @*<div class="input-group-prepend">
                            <span class="input-group-text" id="lbNombreSentenciado">Nombre(s)</span>
                            </div>*@
                                        <input tabindex="1" type="text" class="form-control form-control-sm focusNext mt-2" id="inpNombreSentenciado" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir nombre del Beneficiario
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-2">
                                    <label><strong>Apellido Paterno</strong></label>
                                    <div class="input-group" id="divApellidoPSentenciado">
                                        @*<div class="input-group-prepend">
                            <span class="input-group-text" id="lbApellidoPaterno">Apellido Paterno</span>
                            </div>*@
                                        <input tabindex="2" type="text" class="form-control form-control-sm focusNext mt-2" id="inpApellidoPaterno" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir apellido paterno del Beneficiario
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-2">
                                    <label><strong>Apellido Materno</strong></label>
                                    <div class="input-group" id="divApellidoMSentenciado">
                                        @*<div class="input-group-prepend">
                            <span class="input-group-text" id="lbApellidoMaterno">Apellido Materno</span>
                            </div>*@
                                        <input tabindex="3" type="text" class="form-control form-control-sm focusNext mt-2" id="inpApellidoMaterno" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir apellido materno del Beneficiario
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FILA TRES -->
                            <div class="form-row">
                                @*<div class="col-12 col-md-6 mt-1">
                        <div class="input-group" id="divNombreSentenciado ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="lbNombreSentenciado">Nombre(s)</span>
                            </div>
                            <input type="text" class="form-control" id="inpNombreSentenciado" aria-describedby="inpNumero" required>
                            <div class="invalid-feedback">
                                Introducir nombre del Beneficiario
                            </div>
                        </div>
                    </div>*@

                            </div>
                        </div>

                        <div id="seccionBeneficiario">
                            <div class="form-row">
                                <div class="col-12 mt-4">
                                    <label class="mr-4" for="validationCustom04"><strong>¿Sentenciado Interno?</strong></label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input tabindex="4" type="radio" id="customRadioInline1" name="customRadioInline1" value="S" class="custom-control-input focusNext" required>
                                        <label class="custom-control-label" for="customRadioInline1">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input tabindex="4" type="radio" id="customRadioInline2" name="customRadioInline1" value="N" class="custom-control-input focusNext" required>
                                        <label class="custom-control-label" for="customRadioInline2">NO</label>
                                    </div>
                                </div>
                            </div>

                            <!-- FILA CINCO -->
                            <div class="form-row mt-2">
                                <div class="col-12 col-md-5 mt-1">

                                    <label for="validationCustom04"><strong>Solicitante</strong></label>

                                    @Html.DropDownList("Solicitante", (SelectList)ViewBag.Solicitantes, "SELECCIONAR OPCIÓN", new { @id = "slctSolicitante", @class = "custom-select custom-select-sm focusNext", @required = "required", @tabindex = "5" })

                                    <div class="invalid-feedback">
                                        Seleccionar un Solicitante.
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 mt-1">
                                    <label><strong>Detalle del Solicitante</strong></label>
                                    <div class="input-group" id="divDetalleSolicitante">
                                        @*<div class="input-group-prepend">
                                <span class="input-group-text" id="lbDetalleSolicitante">Detalle del Solicitante</span>
                            </div>*@
                                        <input tabindex="6" type="text" class="form-control form-control-sm focusNext" id="ipnDetalleSolicitante" aria-describedby="ipnDetalleSolicitante" required>
                                        <div class="invalid-feedback">
                                            Introduzca un detalle para el solicitante.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- FILA SIETE -->
                            <div class="form-row mb-4">
                                <div class="col-12 col-md-5 mt-1">

                                    <label for="validationCustom04"><strong>Solicitud</strong></label>

                                    @Html.DropDownList("Solicitud", (SelectList)ViewBag.Solicitudes, "SELECCIONAR OPCIÓN", new { @id = "slctSolicitud", @class = "custom-select custom-select-sm focusNext", @required = "required", @tabindex = "7" })

                                    <div class="invalid-feedback">
                                        Seleccione una solicitud
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 mt-1">

                                    <label><strong>Otra Solicitud</strong></label>
                                    <div class="input-group" id="divOtraSolicitud">
                                        @*<div class="input-group-prepend">
                                <span class="input-group-text" id="lbOtraSolicitud">Otro</span>
                            </div>*@
                                        <input tabindex="8" type="text" class="form-control form-control-sm focusNext focusNextEnd" id="inpOtraSolicitud" aria-describedby="inpOtraSolicitud" disabled>
                                        <div class="invalid-feedback">
                                            Introduzca otra Solicitud.
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- FILA NUEVE -->
                    <form id="formAnexos" class="needs-validation" novalidate>
                        <div id="seccionBusquedaAnexos">

                            <div class="separator-solid"></div>

                            <div class="form-row mt-2">
                                <div class="col-12 col-md-4 mt-1">
                                    <label for="validationCustom04"><strong>Anexos</strong></label>

                                    @Html.DropDownList("AnexosInicales", (SelectList)ViewBag.AnexosInicales, "SELECCIONAR OPCIÓN", new { @id = "slctAnexosInicales", @class = "custom-select custom-select-sm", @required = "required" })

                                    <div class="invalid-feedback">
                                        Seleccione una Descripción
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-1">

                                    <label for="validationCustom04"><strong>Otro Anexo</strong></label>
                                    <div class="input-group" id="divOtroAnexo">
                                        @*<div class="input-group-prepend">
                        <span class="input-group-text" id="lbOtroAnexo">Otro</span>
                    </div>*@
                                        <input type="text" class="form-control form-control-sm" id="inpOtroAnexo" aria-describedby="inpOtroAnexo" disabled>
                                        <div class="invalid-feedback">
                                            Introduzca otro Anexo.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 mt-1">
                                    <label for="validationCustom04"><strong>Cantidad</strong></label>
                                    <div class="input-group" id="divAddAnexos">
                                        @*<div class="input-group-prepend">
                        <span class="input-group-text" id="lbelAddAnexos">Cantidad</span>
                    </div>*@
                                        <input type="number" min="1" max="99" value="0" class="form-control form-control-sm mr-2" id="inpAddAnexos" aria-describedby="inpAddAnexos" required>
                                        <button class="btn btn-success btn-sm" type="submit" id="btnAddAnexos"><i class="fas fa-plus-circle"></i></button>
                                        <div class="invalid-feedback">
                                            Introduzca una cantidad
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- FILA OCHO -->
                    <div id="seccionTablaAnexos">
                        <div class="form-row">
                            <div class="col-12 mt-3">
                                <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Anexos</h6>
                            </div>
                            <div class="col-12">
                                <div class="table-responsive text-small">
                                    <table class="table table-hover table-bordered" id="dataTableAnexos" width="100%" cellspacing="0">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FILA SEIS -->
                    <div id="seccionBotonGuardar">
                        <div class="separator-solid"></div>
                        <div class="form-row text-center">
                            <div class="col-12">
                                <button id="botonEnviar" type="submit" form="formEjecucion" class="btn btn-success disoff text-small" disabled><i class="fas fa-save mr-2"></i>GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL BENEFICIARIOS-->
<div id="ejecucionModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle"><i class="icon-table2"></i> Coincidencias del Beneficiario en registros de Ejecución</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalContainer">
                    <div class="table-responsive text-small">
                        <table class="table table-bordered table-hover table-sm" id="dataTableBeneficiarios" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-secondary" value="Cancelar" id="btnCancelar"><i class="icon-cross"></i> Cancelar</button>
                <button type="submit" class="btn btn-outline-success" value="Aceptar" id="btnAceptar"><i class="icon-checkmark"></i> Continuar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Iniciales")