<div id="contenedorformBuscaAcusatorioHistoricoCausa">
    <form id="formBuscaAcusatorioHistoricoCausa" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-12 col-lg-6 form-group">

                <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>

                @Html.DropDownList("SelectJuzgadoAcusatorio", (SelectList)ViewBag.JuzgadosAcusatorios, "SELECCIONAR OPCIÓN", new { @id = "slctJuzgadoHistoricoCausa", @class = "custom-select custom-select-sm", @required = "required" })

                <div class="invalid-feedback">
                    <i class="icon-notification"></i> Seleccione un Juzgado de Procedencia.
                </div>

            </div>

            <div class="col-md-12 col-lg-3 form-group">
                <label class="" for="inpNumero" id="NumeroLabel"><b>Numero de Causa</b></label>
                <div class="input-group">
                    <input type="text" id="inpCausaAcusatorioHistoricoCausa" name="NumeroExpediente" class="form-control form-control-sm" placeholder="0000/0000" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
                    <div class="invalid-feedback">
                        <i class="icon-notification"></i> Introduzca un numero de causa.
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-3 form-group">
                <label><strong>Fecha de Recepción</strong></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar"></i> </span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="datetimepickerFechaAcusatorio" name="datetime" placeholder="AAAA-MM-DD" required>
                    <div class="valid-feedback" wfd-invisible="true">
                        <i class="icon-checkmark"></i> 	Fecha de Recepción.
                    </div>
                    <div class="invalid-feedback" wfd-invisible="true">
                        <i class="icon-cancel-circle"></i> Por favor, seleeciona fecha inicial.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="contenedorformBuscaTradicionalHistoricoCausa" hidden>
    <form id="formBuscaTradicionalHistoricoCausa" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-12 col-md-3 form-group">
                <label for="slcNumero"><strong>Distrito de Procedencia</strong></label>
                @Html.DropDownList("DistritoPorCircuito", (SelectList)ViewBag.DistritosPorCircuito, "SELECCIONAR OPCIÓN", new { @id = "slctDistritoHistoricoCausa", @class = "custom-select custom-select-sm", @required = "required", @disabled = "true" })
            </div>
            <div class="col-12 col-md-5 form-group">
                <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>
                <select class="custom-select custom-select-sm" id="slctJuzgadoTradiHistoricoCausa" required disabled>
                    <option selected value="">SELECCIONAR OPCIÓN</option>
                </select>
            </div>
            <div class="col-12 col-md-2 form-group">
                <label for="validationCustomUsername"><strong>Numero de Causa</strong></label>
                <div class="input-group" id="divCAU">
                    <input disabled type="text" class="form-control form-control-sm" id="inpCausaTradicionalHistoricoCausa" aria-describedby="inpCAU" placeholder="0000/0000" required>
                </div>
            </div>

            <div class="col-md-12 col-lg-2 form-group">
                <label><strong>Fecha de Recepción</strong></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar"></i> </span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="datetimepickerFechaTradicional" name="datetime" placeholder="AAAA-MM-DD" required>
                    <div class="valid-feedback" wfd-invisible="true">
                        <i class="icon-checkmark"></i> 	Fecha de Recepción.
                    </div>
                    <div class="invalid-feedback" wfd-invisible="true">
                        <i class="icon-cancel-circle"></i> Por favor, seleeciona fecha inicial.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="tab-content causaAceptada">
    <div class="form-row">
        <div class="col-12 col-md-6 form-group">
            <div class="form-row">
                <div class="col-10">
                    <h6 class="ml-1 m-0 font-weight-bold text-success"><i class="icon-table2"></i> Imputado(s)</h6>
                </div>
                <div class="col-2 d-flex flex-row justify-content-end">
                    @*<i class="fas fa-search"></i>*@
                    <i onclick="MuestraModalPartesCausa(true)" class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar Imputado"></i>
                </div>
                <div class="col-12">
                    <div class="table-responsive text-small">
                        <table class="table table-bordered" id="dataTableImputados" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 form-group">
            <div class="form-row">
                <div class="col-10 align-items-end">
                    <h6 class="ml-1 m-0 font-weight-bold text-success"><i class="icon-table2"></i> Victima u Ofendido(S)</h6>
                </div>
                <div class="col-2 d-flex flex-row justify-content-end">
                    @*<i class="fas fa-search"></i>*@
                    <i onclick="MuestraModalPartesCausa(false)" class="ml-1 fas fa-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Agregar Victima"></i>
                </div>
                <div class="col-12">
                    <div class="table-responsive text-small">
                        <table class="table table-bordered" id="dataTableOfendidos" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="formAgregaDelito" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-12 col-md-12 form-group">
                <label for="validationCustom04"><strong>Catálogo de Delitos</strong></label>
                <div class="input-group " id="divToca">
                    @*@Html.DropDownList("SelectDelitos", (SelectList)ViewBag.Delitos, "SELECCIONAR OPCIÓN", new { @id = "slctDelitosInputados", @class = "custom-select custom-select-sm", @required = "required", @title = "Tooltip" })*@

                    <select id="slctDelitosInputados" class="custom-select custom-select-sm mr-2" required>
                        <option value="">SELECCIONAR OPCIÓN</option>
                        @foreach (var item in ViewBag.Delitos)
                        {
                            <option title="@item.Text" value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <button class="btn btn-success btn-sm" type="submit" id="btnToca" data-toggle="tooltip" data-placement="top" title="Agregar Delito"><i class="fas fa-plus-circle"></i></button>
                    <div class="invalid-feedback" id="checkInputadoInvalido">

                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive text-small">
            <table class="table table-hover table-bordered" id="dataTableDelitos" width="100%" cellspacing="0">
            </table>
        </div>
    </form>
</div>

<div class="form-row  text-center causaAceptada">
    <div class="col-12">
        <button id="btnAgregarHistoricoCausa" type="submit" class="btn btn-success disoff text-small" disabled><i class="fas fa-plus mr-2"></i>AGREGAR CAUSA</button>
    </div>
</div>
