@{
    ViewBag.Title = "Promociones de ejecución";
}
<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="page-pretitle">
                            <i class="icon-filter"></i> Filtro de busqueda:
                        </h6>
                        <form class="needs-validation" id="FrmCausaEjecucion" novalidate>
                            <div class="form-row">
                                <div class="col-md-8 form-group">
                                    <label for="validationCustom01">Nombre de Juzgado</label>
                                    @Html.DropDownList("SelectJuzgadoPorCircuito", new SelectList(ViewBag.JuzgadoCircuit, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctJuzgadoPorCircuito", @class = "custom-select form-control resultOK", @required = "required" })
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Juzgado Seleccionado
                                    </div>
                                    <div class="invalid-feedback">
                                        <i class="icon-cancel-circle"></i> Por favor, selecciona un juzgado.
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="validationCustomUsername">Numero de Ejecución</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i class="icon-key"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 resultOK clean" id="inpNumeroEjecucion" aria-describedby="inputGroupPrepend" required>
                                        <button class="btn btn-success mr-2 resultOK" type="submit" id="btnConsultarPromocion" data-toggle="tooltip" data-placement="top" title="Consultar"><i class="icon-search"></i></button>
                                        <button class="btn btn-secondary disoff" id="btnNuevaConsultaPromocion" data-toggle="tooltip" data-placement="top" title="Nueva Consulta"><i class="icon-paint-format"></i></button>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> Numero de ejecución
                                        </div>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Por favor, introduce numero de ejecución.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="divResultadoPromocion">
                    <div class="card-footer">
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom01">Numero de Ejecución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">#</span>
                                    </div>
                                    <input type="text" class="form-control disabled clean" id="NumeroEjecucion" aria-describedby="inputGroupPrepend">
                                </div>
                            </div>
                            <div class="col-md-9 mb-3">
                                <label for="validationCustom02">Juzgado de Ejecución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="icon-office"><i class="icon-office"></i></span>
                                    </div>
                                    <input type="text" class="form-control disabled clean" id="NombreJuzgado" aria-describedby="inputGroupPrepend">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustomUsername">Solicitante</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="icon-clipboard"></i></span>
                                    </div>
                                    <input type="text" class="form-control disabled clean" id="DecSolicitante" aria-describedby="inputGroupPrepend">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustomUsername">Sentenciado | Beneficiario</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control disabled clean" id="NombreBeneficiario" aria-describedby="inputGroupPrepend">
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustomUsername">Solicitud</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i class="icon-file-text2"></i></span>
                                    </div>
                                    <input type="text" class="form-control disabled clean" id="DecSolicitud" aria-describedby="inputGroupPrepend">
                                </div>
                            </div>
                        </div>
                        @*<button class="btn btn-success" type="submit" disabled>Relacionar Causa</button>*@
                    </div>
                    <!-- Tabla  Detalles -->
                    <div class="tab-content">
                        <div class="form-row">
                            <div class="col-12">
                                <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas </h6>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="_TablaCausasEjecucion" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">


                </div>
                <div class="separator-solid"></div>
                <form class="needs-validation" id="Frm_Anexos" novalidate>
                    <div class="form-row">
                        <div class="col-md-3 form-group">
                            <label for="validationCustom02">Promovente</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class=" icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control mr-2 clearanexo" id="inpNombrePromovente" placeholder="Nombre de promovente" required>
                                <div class="invalid-feedback">
                                    <i class="icon-cancel-circle"></i> Por favor, introdusca nombre de promovente.
                                </div>
                                <div class="valid-feedback">
                                    <i class="icon-checkmark"></i> Nombre de promovente.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="validationCustom01">Anexos</label>
                            @Html.DropDownList("SelectAnexo", new SelectList(ViewBag.AnexoEjec, "IdAnexo", "Descripcion"), "SELECCIONAR OPCION", new { @id = "slctAnexoEjecucion", @class = "custom-select form-control", @required = "required" })
                            <div class="valid-feedback">
                                <i class="icon-checkmark"></i> Anexo Seleccionado
                            </div>
                            <div class="invalid-feedback">
                                <i class=" icon-cancel-circle"></i> Por favor, seleccione un anexo.
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="inpCantidadAnexos">Cantidad</label>
                            <div class="input-group">
                                <input type="number" class="form-control mr-2 clearanexo" placeholder="0" id="inpCantidadAnexos" name="quantity" min="0" max="3000" required>
                                <button class="btn btn-success mr-2" type="submit" data-toggle="tooltip" data-placement="top" title="Agregar Anexo"><i class="fa fa-plus-circle"></i></button>
                                <button class="btn btn-secondary mr-2 disoff" type="submit" id="btnGuardarAnexos" data-toggle="tooltip" data-placement="top" title="Guardar Anexos"><i class="fa fa-save"></i></button>
                                <div class="invalid-feedback">
                                    <i class="icon-cancel-circle"></i> Determine cantidad.
                                </div>
                                <div class="valid-feedback">
                                    <i class="icon-checkmark"></i> Cantidad determinada.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="validationCustom02">Descripción Otro</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend"><i class=" icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control mr-2 clearanexo" id="inpOtroAnexo" placeholder="Descripción">
                                <div class="invalid-feedback">
                                    <i class="icon-cancel-circle"></i> Por favor, introdusca una descripción.
                                </div>
                                <div class="valid-feedback">
                                    <i class="icon-checkmark"></i> Nombre de promovente.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Tabla  Detalles -->
                <div class="tab-content">
                    <div class="form-row">
                        <div class="col-12">
                            <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas </h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="_DataTableAnexos" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Promociones")