@model PoderJudicial.SIPOH.WebApp.Models.EjecucionPosteriorModelView

@{
    ViewBag.Title = "Detalle de la promoción";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">

            <div class="card-header">

                @if (Model.NumeroEjecucion != null)
                    {
                <h4 class="card-title">
                    Promocion de No. Ejecución <b class="text-success">@Html.DisplayFor(model => model.NumeroEjecucion)</b> 
                </h4>
                }
                else
                {
            <h4 class="card-title"> Promocion de No. Ejecución <b class="text-success"> Información no disponible. </b>  </h4>
                }

            </div>

            <div class="card-body">

                @Html.Hidden("IdProceso", (bool)ViewBag.RespuestaMetodo)
                @Html.Hidden("IdMensajeError", (string)ViewBag.Mensaje)
                @Html.Hidden("IdAnexos", (bool)ViewBag.Anexos)
                @Html.Hidden("IdEjecucion", (bool)ViewBag.Ejecucion)


                <div class="form-row justify-content-end">
                    <button class="btn btn-success mr-2" id="btnGeneraSello" data-toggle="tooltip" data-placement="top" title="Generar sello de impresión"><i class="fas fa-stamp mr-2"></i>Generar Sello</button>

                    <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Registrar nueva promoción" href="@Url.Action("CrearPromocion", "Promociones")"><i class="fa fa-plus mr-2"></i> Nueva Promoción </a>

                </div>
                <div class="col-12 text-center">
                    <h3 class="m-0 font-weight mr-2">Datos Generales de Ejecución</h3>
                </div>
                <div class="bordeParaInfo rounded p-3 mt-3 mb-3">
                    <div class="form-row">
                        <div class="col-12 col-md-8">
                            <label for="validationCustom04"><b><li>Juzgado de Ejecución</li></b></label>
                            <div class="input-group ml-3" id="divToca">
                                @Html.DisplayFor(model => model.NombreJuzgado)
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="validationCustom04"><b><li>Numero de Ejecución</li></b></label>
                            <div class="input-group ml-3" id="divToca">
                                @Html.DisplayFor(model => model.NumeroEjecucion)
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-1 mt-md-3">
                        <div class="col-12 col-md-4">
                            <label for="validationCustom04"><b><li>Sentenciado/Beneficiario</li></b></label>
                            <div class="input-group ml-3" id="divToca">
                                @Html.DisplayFor(model => model.NombreBeneficiario)
                                @Html.DisplayFor(model => model.ApellidoPBeneficiario)
                                @Html.DisplayFor(model => model.ApellidoMBeneficiario)
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="validationCustom04"><b><li>Solicitante</li></b></label>
                            <div class="input-group ml-3" id="divToca">
                                @Html.DisplayFor(model => model.DescripcionSolicitante) - @Html.DisplayFor(model => model.DetalleSolicitante)
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="validationCustom04"><b><li>Solicitud</li></b></label>
                            <div class="input-group ml-3" id="divToca">
                                @Html.DisplayFor(model => model.DescripcionSolicitud)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <h3 class="m-0 font-weight mr-2">Resumen de Promoción</h3>
                </div>

                <div class="bordeParaInfo rounded p-3 mt-3">
                    <div class="form-row">
                        <div class="col-12 col-md-8">
                            <label for="validationCustom04"><b><li>Nombre del Promovente</li></b></label>
                            <div class="input-group ml-3" id="lblPromovente">
                                @Html.DisplayFor(model => model.Promovente)
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <label for="validationCustom04"><b><li>Fecha de Ingreso</li></b></label>
                            <div class="input-group ml-3" id="lblFechaIngreso">
                                @Html.DisplayFor(model => model.FechaIngreso)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="form-row mt-2">
                        <div class="col-12 form-group">
                            <div class="form-row mt-1">
                                <div class="col-12 ">
                                    <h6 class="m-0 font-weight-bold @(ViewBag.Anexos ? "text-danger":"text-success")"><i class="@(ViewBag.Anexos ? "icon-cross":"icon-checkmark") mr-2"></i><i class="icon-table2"></i> Tabla de Anexos Solicitados</h6>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="dataTableAnexosDetalle" class="table table-hover table-bordered text-center" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Anexos</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Anexos)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Cantidad)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sello" hidden>
                    <div id="juzgadoSello">@Html.DisplayFor(model => model.NombreJuzgado)</div>
                    <div id="numeroEjecucionSello">Exp. Ejec.: @Html.DisplayFor(model => model.NumeroEjecucion)</div>
                    <div id="folioSello">Folio: @Html.DisplayFor(model => model.IdEjecucion)</div>
                    <div id="fechaIngreso">Fecha: @Html.DisplayFor(model => model.FechaIngreso)</div>
                    <div id="total">@Model.Anexos.Count()</div>

                    @{int contador = 0;}

                    @foreach (var item in Model.Anexos)
                    {
                        string des = "descripcion" + contador;
                        string can = "cantidad" + contador;

                        <div id='@des'>@item.Descripcion</div>
                        <div id='@can'>@item.Cantidad</div>
                        contador = contador + 1;
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/jQuery")
@Scripts.Render("~/Scripts/EjecucionPromocionesDetalle.js")

