
@{
    ViewBag.Title = "Consignaciones Históricas";
}


   <div class="card shadow-sm  col-sm-12">

            <div class="card-header">
                <h6 class="card-title" id="titulo">
                    Registro de Consignación Histórica de Ejecución
                </h6>
            </div>

            <div class="card-body">

                @Html.Hidden("IdCircuitoHDN", (object)Usuario.IdCircuito)
                @Html.Hidden("IdOtroAnexoHDN", (int)ViewBag.IdOtroAnexos)
                @Html.Hidden("IdOtroSolicitudHDN", (int)ViewBag.IdOtroSolicitud)
                @Html.Hidden("IdOtroSolicitanteHDN", (int)ViewBag.IdOtroSolicitante)

                <!-- Busqueda de Cuasas Acusatorio y tradicional -->
                <div id="contenedorBusquedaCausa">
                    @Html.Partial("_ParcialBuscadorCausas")
                </div>

                <div id="contenedorTocasBeneficiario">
                   @Html.Partial("_ParcialContenedorBeneficiario")
                </div>
            </div>
        </div>


@Html.Partial("_ParcialModalBeneficiarios")

<script>
    var esConsignacionHistorica = @(ViewBag.EsConsignacionHistorica.ToString().ToLower());
    var urlBase = '@Url.Content("~")';
</script>

@Scripts.Render("~/Scripts/jQuery")
@Scripts.Render("~/Scripts/inputmask")
@Scripts.Render("~/Scripts/EjecucionIniciales")
@Scripts.Render("~/Scripts/EjecucionConsignaciones")

