@{
    ViewBag.Title = "Busquedas";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">

            <div class="card-header">
                <h4 class="card-title">
                    Busqueda de Numero De Ejecución
                </h4>
            </div>

            <div class="card-body">

                <ul class="nav nav-pills  nav-fill nav-success" id="pills-tab" role="tablist">
                    <li class="nav-sm nav-item">
                        <a class="nav-link active" id="pills-pcausa-tab" data-toggle="pill" href="#pills-pcausa" role="tab" aria-controls="pills-pcausa" aria-selected="true"><i class="icon-users mr-2"></i>Partes de la Causa</a>
                    </li>
                    <li class="nav-sm nav-item">
                        <a class="nav-link" id="pills-sentebene-tab" data-toggle="pill" href="#pills-sentebene" role="tab" aria-controls="pills-sentebene" aria-selected="false"><i class="icon-user mr-2"></i>Sentenciado|Beneficiario</a>
                    </li>
                    <li class="nav-sm nav-item">
                        <a class="nav-link" id="pills-numcausa-tab" data-toggle="pill" href="#pills-numcausa" role="tab" aria-controls="pills-numcausa" aria-selected="false"><i class="icon-folder-open mr-2"></i>N° de Causa</a>
                    </li>
                    <li class="nav-sm nav-item">
                        <a class="nav-link" id="pills-NUC-tab" data-toggle="pill" href="#pills-NUC" role="tab" aria-controls="pills-NUC" aria-selected="false"><i class="icon-folder-open mr-2"></i>N° de NUC</a>
                    </li>
                    <li class="nav-sm nav-item">
                        <a class="nav-link" id="pills-solicitante-tab" data-toggle="pill" href="#pills-solicitante" role="tab" aria-controls="pills-solicitante" aria-selected="false"><i class="icon-user-tie mr-2"></i>Solicitante</a>
                    </li>
                    <li class="nav-sm nav-item">
                        <a class="nav-link" id="pills-Dsolicitante-tab" data-toggle="pill" href="#pills-Dsolicitante" role="tab" aria-controls="pills-Dsolicitante" aria-selected="false"><i class="icon-profile mr-2"></i>Detalle del Solicitante</a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-pcausa" role="tabpanel" aria-labelledby="pills-pcausa-tab">

                        <form id="formPartesCausa" class="needs-validation" novalidate>

                            <div class="form-row mt-3">
                                <div class="col-12 col-md-4 mt-1">

                                    <label for="validationCustom04"><strong>Nombre(s) Parte</strong></label>

                                    <div class="input-group validate-me" id="divApellidoPParte">
                                        @*<div class="input-group-prepend">
                <span class="input-group-text" id="lbApellidoPaterno">Apellido Paterno</span>
            </div>*@
                                        <input type="text" class="form-control form-control-sm focusNext mt-2" id="inpNombreParte" tabindex="1" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Nombre(s)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-1">

                                    <label for="validationCustom04"><strong>Apellido Paterno</strong></label>
                                    <div class="input-group validate-me" id="divApellidoMSentenciado">
                                        @*<div class="input-group-prepend">
                <span class="input-group-text" id="lbApellidoPMaterno">Apellido Materno</span>
            </div>*@
                                        <input type="text" class="form-control form-control-sm focusNext mt-2" id="inpApellidoPaternoParte" tabindex="2" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Apellido Paterno
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-1">
                                    <label class="mb-2" for="validationCustom04"><strong>Apellido Materno</strong></label>
                                    <div class="input-group" id="divBusquedaSentenciado">
                                        @*<div class="input-group-prepend">
                <span class="input-group-text" id="lbNombreParte">Nombre(s)</span>
            </div>*@
                                        <input type="text" class="form-control form-control-sm focusNext focusNextEnd mr-2" id="inpApellidoMaternoPartes" tabindex="3" aria-describedby="inpNumero" novalidate="true">
                                        <button id="botonBuscarNumerosDeEjecucionPartes" type="submit" class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search icon"></i></button>
                                        <button id="botonBorrarDatos" onclick='LimpiaCamposFormulario("formPartesCausa")' type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Limpiar Busqueda"><i class="fa fa-eraser icon"></i></button>

                                        
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-sentebene" role="tabpanel" aria-labelledby="pills-sentebene-tab">

                        <form id="formBeneficiario" class="needs-validation" novalidate>

                            <div class="form-row mt-3">
                                <div class="col-12 col-md-4 mt-1">
                                    <label class="mb-2" for="validationCustom04"><strong>Nombre(s) Beneficiario</strong></label>
                                    <div class="input-group validate-me" id="divApellidoBParte">
                                        @*<div class="input-group-prepend">
            <span class="input-group-text" id="lbApellidoBeneficiario">Apellido Paterno</span>
        </div>*@
                                        <input type="text" class="form-control form-control-sm focusNext" id="inpNombreBeneficiario" tabindex="4" aria-describedby="inpNumero" required>
                                  
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Nombre(s)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-1">
                                    <label class="mb-2" for="validationCustom04"><strong>Apellido Paterno</strong></label>
                                    <div class="input-group validate-me" id="divApellidoMBeneficiario">
                                        @*<div class="input-group-prepend">
            <span class="input-group-text" id="lbApellidoBMaterno">Apellido Materno</span>
        </div>*@
                                        <input type="text" class="form-control form-control-sm focusNext" id="inpApellidoPaternoBeneficiario" tabindex="5" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Apellido Paterno
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-1">
                                    <label class="mb-2" for="validationCustom04"><strong>Apellido Materno</strong></label>
                                    <div class="input-group" id="divBusquedaSentenciado">
                                        @*<div class="input-group-prepend">
                <span class="input-group-text" id="lbNombreBeneficiario">Nombre(s)</span>
            </div>*@
                                        <input type="text" class="form-control form-control-sm focusNext focusNextEnd mr-2" id="inpApellidoMaternoBeneficiario" tabindex="6" aria-describedby="inpNumero">
                                        <button id="botonBuscarNumerosDeEjecucionBeneficiario" type="submit" class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search icon"></i></button>
                                        <button id="botonBorrarDatos" onclick='LimpiaCamposFormulario("formBeneficiario")' type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Limpiar Busqueda"><i class="fa fa-eraser icon"></i></button>
                                   
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="pills-numcausa" role="tabpanel" aria-labelledby="pills-numcausa-tab">
                        <form id="formCausasEjecucion" class="needs-validation" novalidate>
                            <div class="form-row mt-2">
                                <div class="col-md-3 form-group">
                                    <label for="slcNumero"><strong>Distrito de Procedencia</strong></label>
                                    @Html.DropDownList("DistritoPorCircuito", (SelectList)ViewBag.DistritoPorCircuito, "SELECCIONA OPCION", new { @id = "slctDistrito", @class = "custom-select custom-select-sm", @required = "required" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Seleccione un Distrito.
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>
                                    <select class="custom-select custom-select-sm" id="slctJuzgadoPorDistritos" required>
                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Seleccione un Juzgado de procedencia.
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label for="validationCustomUsername"><strong>Numero de Causa</strong></label>
                                    <div class="input-group" id="divCAU">
                                        @*<div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">CAUSA</span>
                                        </div>*@
                                        <input type="text" class="form-control form-control-sm mr-2" id="inpCausa" aria-describedby="inpCAU" placeholder="0000/0000" required>
                                        <button class="btn btn-success btn-sm mr-2" type="submit" id="botonBuscarNumerosDeEjecucionCausas" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fas fa-search"></i></button>
                                        <button id="botonBorrarDatos" onclick='LimpiaCamposFormularioSinValidacion("formCausasEjecucion")' type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Limpiar Busqueda"><i class="fa fa-eraser icon"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Introduce un Numero de Causa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-NUC" role="tabpanel" aria-labelledby="pills-NUC-tab">
                        <form id="formNucEjecucion" class="needs-validation" novalidate>
                            <div class="form-row mt-2">
                                <div class="col-md-12 col-lg-7 form-group">

                                    <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>
                                    @Html.DropDownList("JuzgadosAcusatorios", (SelectList)ViewBag.JuzgadosAcusatorios, "SELECCIONA OPCION", new { @id = "slctJuzgadoAcusatorio", @class = "custom-select custom-select-sm", @required = "required" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Selecciona un juzgado.
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-5 form-group">
                                    <label class="" for="inpNumero" id="NumeroLabel"><strong>Numero Unico de Caso</strong></label>
                                    <div class="input-group">
                                        @*<div class="input-group-prepend">
                                            <span class="input-group-text" id="spnNumero">NUC</span>
                                        </div>*@
                                        <input type="text" id="inpNuc" name="inpNucName" class="form-control form-control-sm mr-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-inputmask-clearmaskonlostfocus="true" required placeholder="00-0000-0000">
                                        <button class="btn btn-success btn-sm mr-2" type="submit" id="botonBuscarNumerosDeEjecucionNuc" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search"></i></button>
                                        <button onclick='LimpiaCamposFormularioSinValidacion("formNucEjecucion")' id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Limpiar Busqueda"><i class="fa fa-eraser icon"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Numero Unico de Caso.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-solicitante" role="tabpanel" aria-labelledby="pills-solicitante-tab">
                        <form id="formSolicitanteEjecucion" class="needs-validation" novalidate>
                            <div class="form-row mt-2">

                                <div class="col-md-12 col-lg-5 form-group">
                                    <label class="" for="inpNumero" id="NumeroLabel"><strong>Solicitante</strong></label>
                                    <div class="input-group">
                                        @Html.DropDownList("Solicitante", (SelectList)ViewBag.Solicitante, "SELECCIONA OPCION", new { @id = "slctSolicitante", @class = "custom-select custom-select-sm mr-2", @required = "required" })

                                        <button class="btn btn-success btn-sm mr-2" type="submit" id="botonBuscarNumerosDeEjecucionSolicitante" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search"></i></button>
                                        <button onclick='LimpiaCamposFormularioSinValidacion("formSolicitanteEjecucion")' id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Limpiar Busqueda"><i class="fa fa-eraser icon"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Numero Unico de Caso.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-Dsolicitante" role="tabpanel" aria-labelledby="pills-Dsolicitante-tab">
                        <form id="formDetalleSolicitanteEjecucion" class="needs-validation" novalidate>
                            <div class="form-row mt-3">
                                <div class="col-12 col-md-6 mt-1">
                                    <label class="mb-2" for="inpNumero" id="NumeroLabel"><strong>Detalle del Solicitante</strong></label>
                                    <div class="input-group" id="divDetalleSolicitante">
                                        @*<div class="input-group-prepend">
                <span class="input-group-text" id="lbDetalleSolicitante">Detalle del Solicitante</span>
            </div>*@
                                        <input type="text" class="form-control form-control-sm mr-2" id="inpDetalleSolicitante" aria-describedby="inpDetalleSolicitante" required>
                                        <button id="botonBuscarNumerosDeEjecucionDetalleSolicitante" type="submit" class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search icon"></i></button>
                                        <button onclick='LimpiaCamposFormularioSinValidacion("formDetalleSolicitanteEjecucion")' id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Limpiar Busqueda"><i class="fa fa-eraser icon"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Intruduzca un Detalle del Solicitante.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="form-row mt-4">
                        <div class="col-12">
                            <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Numeros de Ejecución</h6>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="dataTableNumeroEjecucion" width="100%" cellspacing="0">
                        </table>
                    </div>

                    @*<div class="crus"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CAUSAS-->
<div id="busquedaCausasModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitulo"><i class="icon-table2 m-2"></i>Detalle de la Causa </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalContainer">
                    <label id="detalleModal"></label>
                    <div class="table-responsive text-small">
                        <table class="table table-bordered table-hover table-sm" id="dataTableCausas" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlBase = '@Url.Content("~")';
</script>

@Scripts.Render("~/Scripts/jQuery")
@Scripts.Render("~/Scripts/inputmask")
@Scripts.Render("~/Scripts/EjecucionBusquedas")