@{
    ViewBag.Title = "Busquedas";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">

            <div class="card-header">
                <h4 class="card-title">
                    Busqueda de Numero De Ejecución
                </h4>
            </div>

            <div class="card-body">

                <ul class="nav nav-pills  nav-fill nav-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-pcausa-tab" data-toggle="pill" href="#pills-pcausa" role="tab" aria-controls="pills-pcausa" aria-selected="true"><i class="icon-users"></i>  Partes causa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-sentebene-tab" data-toggle="pill" href="#pills-sentebene" role="tab" aria-controls="pills-sentebene" aria-selected="false"><i class="icon-user"></i> Sentenciado|Beneficiario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-numcausa-tab" data-toggle="pill" href="#pills-numcausa" role="tab" aria-controls="pills-numcausa" aria-selected="false"><i class="icon-address-book"></i> N° de causa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-NUC-tab" data-toggle="pill" href="#pills-NUC" role="tab" aria-controls="pills-NUC" aria-selected="false"><i class="icon-folder-open"></i> N° de NUC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-solicitante-tab" data-toggle="pill" href="#pills-solicitante" role="tab" aria-controls="pills-solicitante" aria-selected="false"><i class="icon-user-tie"></i> Solicitante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-Dsolicitante-tab" data-toggle="pill" href="#pills-Dsolicitante" role="tab" aria-controls="pills-Dsolicitante" aria-selected="false"><i class="icon-paste"></i> Detalle del solicitante</a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-pcausa" role="tabpanel" aria-labelledby="pills-pcausa-tab">

                        <form id="formPartesCausa" class="needs-validation" novalidate>

                            <div class="form-row mt-3">
                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divApellidoPParte">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbApellidoPaterno">Apellido Paterno</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpApellidoPaternoParte" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir apellido paterno del Beneficiario
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divApellidoMSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbApellidoPMaterno">Apellido Materno</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpApellidoMaternoPartes" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir apellido materno del Beneficiario
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                               
                                <div class="col-12 col-md-12 mt-1">
                                    <div class="input-group" id="divBusquedaSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbNombreParte">Nombre(s)</span>
                                        </div>
                                        <input type="text" class="form-control mr-2" id="inpNombreParte" aria-describedby="inpNumero">
                                        <button id="botonBuscarNumerosDeEjecucion" type="submit" class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search icon"></i></button>
                                        <button id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Continuar Registro"><i class="fa fa-eraser icon"></i></button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-sentebene" role="tabpanel" aria-labelledby="pills-sentebene-tab">

                        <form id="formBeneficiario" class="needs-validation" novalidate>

                            <div class="form-row mt-3">
                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divApellidoBParte">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbApellidoBeneficiario">Apellido Paterno</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpApellidoPaternoBeneficiario" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir apellido paterno del Beneficiario
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divApellidoMBeneficiario">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbApellidoBMaterno">Apellido Materno</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpApellidoMaternoBeneficiario" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir apellido materno del Beneficiario
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-12 col-md-12 mt-1">
                                    <div class="input-group" id="divBusquedaSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbNombreBeneficiario">Nombre(s)</span>
                                        </div>
                                        <input type="text" class="form-control mr-2" id="inpNombreBeneficiario" aria-describedby="inpNumero">
                                        <button id="botonBuscarNumerosDeEjecucion" type="submit" class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search icon"></i></button>
                                        <button id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Continuar Registro"><i class="fa fa-eraser icon"></i></button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>
                    <div class="tab-pane fade" id="pills-numcausa" role="tabpanel" aria-labelledby="pills-numcausa-tab">
                        <form id="formCausasTradicional" class="needs-validation" novalidate>
                            <div class="form-row mt-3">
                                <div class="col-md-3 form-group">
                                    <label for="slcNumero">Distrito de Procedencia</label>
                                    @Html.DropDownList("DistritoPorCircuito",(SelectList)ViewBag.DistritoPorCircuito,"SELECCIONA OPCION", new { @id="slctDistrito",@class="custom-select formatear",@requiered="requiered"})

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Por favor, selecciona un distrito.
                                    </div>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Distrito seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-5 form-group">
                                    <label for="validationCustom04">Juzgado de Procedencia</label>
                                    <select class="custom-select" id="slctJuzgadoTradi" required>
                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                    </select>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Juzgado de procedencia, seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label for="validationCustomUsername">Numero de Causa</label>
                                    <div class="input-group" id="divCAU">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">CAUSA</span>
                                        </div>
                                        <input type="text" class="form-control mr-2" id="inpCAUT" aria-describedby="inpCAU" placeholder="0000/0000" required>
                                        <button class="btn btn-success btn-sm mr-2" type="submit" id="btnCAU" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fas fa-search"></i></button>
                                        <button id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Continuar Registro"><i class="fa fa-eraser icon"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-checkmark"></i> Introduce numero de causa.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> Numero de causa introducido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-NUC" role="tabpanel" aria-labelledby="pills-NUC-tab">
                        <form id="formCausas" class="needs-validation" novalidate>
                            <div class="form-row mt-3">
                                <div class="col-md-12 col-lg-7 form-group">

                                    <label for="validationCustom04">Juzgado de Procedencia</label>
                                    @Html.DropDownList("JuzgadosAcusatorios",(SelectList)ViewBag.JuzgadosAcusatorios,"SELECCIONA OPCION",new { @id = "slctJuzgadoA", @class = "custom-select formatear", @requiered = "requiered" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Por favor, selecciona un juzgado.
                                    </div>

                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Juzgado seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-5 form-group">
                                    <label class="" for="inpNumero" id="NumeroLabel">Numero Unico de Caso</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="spnNumero">NUC</span>
                                        </div>
                                        <input type="text" id="Numero" name="Numero" class="form-control mr-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-inputmask-clearmaskonlostfocus="true" required placeholder="00-0000-0000">
                                        <button class="btn btn-success btn-sm mr-2" type="submit" id="btnNUC" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fa fa-search"></i></button>
                                        <button id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Continuar Registro"><i class="fa fa-eraser icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-solicitante" role="tabpanel" aria-labelledby="pills-solicitante-tab">

                        <div class="form-row mt-3">
                            <div class="col-md-12 col-lg-6 form-group">

                                <label for="validationCustom04">Solicitante</label>
                                @Html.DropDownList("Solicitante",(SelectList)ViewBag.Solicitante,"SELECCIONA OPCION",new { @id="slctSolicitante", @class="custom-select formatear", @requiered="requiered" })

                            </div>
                         </div>
                    </div>
                    <div class="tab-pane fade" id="pills-Dsolicitante" role="tabpanel" aria-labelledby="pills-Dsolicitante-tab">
                            <form id="formPartesCausa" class="needs-validation" novalidate>

                                <div class="form-row mt-3">

                                    <div class="col-12 col-md-8 mt-1">
                                        <div class="input-group" id="divBusquedaSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbNombreParte">Detalle del Solicitante</span>
                                            </div>
                                            <input type="text" class="form-control mr-2" id="inpNombreParte" aria-describedby="inpNumero">
                                            <button id="botonBuscarNumerosDeEjecucion" type="submit" class="btn btn-success btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Buscar Ejecuciones"><i class="fa fa-search icon"></i></button>
                                            <button id="botonBorrarDatos" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Continuar Registro"><i class="fa fa-eraser icon"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                </div>

                <div class="tab-content">
                    <div class="form-row mt-4">
                        <div class="col-12">
                            <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Numeros de Ejecución</h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered table-sm nowrap" id="dataTableNumeroEjecucion" width="100%" cellspacing="0">
                        </table>
                    </div>

                    <div>
                        <table class="table table-hover table-striped table-bordered table-sm nowrap" id="tablaDocsGarantias" width="100%" cellspacing="0">
                        </table>
                    </div>
                   
                    @*<div class="crus"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Busquedas")