@{
    ViewBag.Title = "Iniciales";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">

            <div class="card-header">
                <h6 class="card-title">
                    Registro de Iniciales de Ejecución
                </h6>
            </div>

            <div class="card-body">

                @Html.Hidden("IdCircuitoHDN", (object)Usuario.IdCircuito)
                @Html.Hidden("IdOtroAnexoHDN", (int)ViewBag.IdOtroAnexos)
                @Html.Hidden("IdOtroSolicitudHDN", (int)ViewBag.IdOtroSolicitud)
                @Html.Hidden("IdOtroSolicitanteHDN", (int)ViewBag.IdOtroSolicitante)

                <!-- Busqueda de Cuasas Acusatorio y tradicional -->
                @Html.Partial("_ParcialBuscadorCausas")

                <!-- Contenedor del Beneficiario-->
                @Html.Partial("_ParcialContenedorBeneficiario")

            </div>
        </div>
    </div>
</div>

@Html.Partial("_ParcialModalBeneficiarios")

<script>
    var esConsignacionHistorica = @(ViewBag.EsConsignacionHistorica.ToString().ToLower());
</script>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Iniciales")