@{
  ViewBag.Title = "Iniciales";
}


<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm">
            <div class="card-body">

                @Html.Hidden("IdCircuitoHDN", (object)Usuario.IdCircuito)

                <!-- Pestañas de Navegación -->
                <!-- #region Pestañas -->
                <ul class="nav nav-pills nav-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="juzgadoA-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="icon-office"></i> Juzgado Acusatorio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="juzgadoT-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="icon-library"></i> Juzgado Tradicional</a>
                    </li>
                </ul>

                <!-- #endregion -->
                <!-- #region Pestañas - Contenido-->
                <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form id="formCausas" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-6 form-group">

                                    <label for="validationCustom04">Juzgado de Procedencia</label>

                                    @Html.DropDownList("SelectJuzgadoAcusatorio", new SelectList(ViewBag.JuzgadosAcusatorios, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctJuzgado", @class = "custom-select formatear", @required = "required" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Por favor, selecciona un juzgado.
                                    </div>

                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Juzgado seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label for="slcNumero">Causa | Nuc</label>
                                    <select class="custom-select" id="slctNumero">
                                        <option value="1">NUMERO DE CAUSA</option>
                                        <option value="2">NUMERO UNICO DE CASO</option>
                                    </select>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Opción seleccionada.
                                    </div>

                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="" for="inpNumero" id="NumeroLabel">Numero de Causa</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="spnNumero">Causa</span>
                                        </div>
                                        <input type="text" id="Numero" name="Numero" class="form-control mr-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-inputmask-clearmaskonlostfocus="true" required>
                                        <button class="btn btn-success btn-sm" type="submit" id="btnNUC" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <form id="formCausasTradicional" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label for="slcNumero">Distrito de Procedencia</label>

                                    @Html.DropDownList("DistritoPorCircuito", new SelectList(ViewBag.DistritosPorCircuito, "IdDistrito", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctDistrito", @class = "custom-select formatear", @required = "required" })

                                    <div class="invalid-feedback">
                                        <i class="icon-notification"></i> Por favor, selecciona un distrito.
                                    </div>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Distrito seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-5 form-group">
                                    <label for="validationCustom04">Juzgado de Procedencia</label>
                                    <select class="custom-select" id="slctJuzgadoTradi" required>
                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                    </select>
                                    <div class="valid-feedback">
                                        <i class="icon-checkmark"></i> Juzgado de procedencia, seleccionado.
                                    </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <label for="validationCustomUsername">Numero de Causa</label>
                                    <div class="input-group" id="divCAU">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">CAUSA</span>
                                        </div>
                                        <input type="text" class="form-control mr-3" id="inpCAUT" aria-describedby="inpCAU" placeholder="0000/0000" required>
                                        <button class="btn btn-success btn-sm" type="submit" id="btnCAU" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fas fa-search"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-checkmark"></i> Introduce numero de causa.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> Numero de causa introducido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- #endregion-->
                <!-- Fin Pestañas de Navegación -->
                <!--#region Tabla Dinamica Acusatorio - Tradicional-->

                <div class="tab-content">
                    <div class="form-row">
                        <div class="col-12">
                            <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas</h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                        </table>
                    </div>
                </div>

                <!-- #endregion-->
                <div class="separator-solid"></div>
                <!-- #endregion -->

                <div class="tab-content">
                    <div class="form-row">
                        <div class="col-12 col-md-7 form-group">
                            <form id="formTocas" class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="col-12 col-md-7">
                                        <label for="validationCustom04">Salas Disponibles</label>

                                        @Html.DropDownList("SalasAcusatorio", new SelectList(ViewBag.SalasAcusatorio, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctSalaAcusatorio", @class = "custom-select formatear", @required = "required" })

                                        @Html.DropDownList("SalasTradicional", new SelectList(ViewBag.SalasTradicional, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctSalaTradicional", @class = "custom-select formatear", @hidden = "hidden" })

                                        <div class="invalid-feedback">
                                            <i class="icon-notification"></i> Por favor, selecciona una sala.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <label for="validationCustom04">Numero de Toca</label>
                                        <div class="input-group " id="divToca">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbToca">Toca</span>
                                            </div>
                                            <input type="text" class="form-control mr-2" id="inpToca" aria-describedby="inpToca" data-inputmask-clearmaskonlostfocus="true" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnToca" data-toggle="tooltip" data-placement="top" title="Agregar Toca"><i class="fas fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                <i class="icon-notification"></i> Por favor, introduce un numero de toca.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> Se introdujo numero de toca.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-row">
                                <div class="col-12 mt-3">
                                    <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Salas</h6>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive text-small">
                                        <table class="table table-hover table-striped table-bordered table-sm nowrap" id="dataTableTocas" width="100%" cellspacing="0">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <form id="formAmparos" class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="col-12 col-md-12">
                                        <label for="validationCustom04">Sentencia de Amparo Vinculada</label>
                                        <div class="input-group" id="divAmparo">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbAmparo">Amparo</span>
                                            </div>
                                            <input type="text" class="form-control mr-2" id="ipnAmparo" aria-describedby="inpAmparo" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnAmparo" data-toggle="tooltip" data-placement="top" title="Agregar Sentencia de Amparo"><i class="fas fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                <i class="icon-notification"></i> Por favor, introcude una cantidad.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> Se introdujo cantidad.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-row">
                                <div class="col-12 mt-3">
                                    <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Amparos</h6>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive text-small">
                                        <table class="table table-hover table-striped table-bordered table-sm nowrap" id="dataTableAmparos" width="100%" cellspacing="0">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONTENEDOR BENEFICIARIO -->
                <div class="tab-content" id="contenedorBeneficiario" hidden>

                    <div class="separator-solid"></div>

                    <form id="formEjecucion" class="needs-validation" novalidate>
                        <!-- BUSCADOR BENEFICIARIO -->
                        <div id="seccionBusquedaBeneficiario">

                            <!-- FILA UNO -->
                            <div class="form-row mt-4">
                                <div class="col-12">
                                    <label for="validationCustomUsername">Sentenciado/Beneficiario</label>
                                </div>
                            </div>

                            <!-- FILA DOS -->
                            <div class="form-row">
                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divApellidoPSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbApellidoPaterno">Apellido Paterno</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpApellidoPaterno" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir nombre del Beneficiario
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divApellidoMSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbApellidoMaterno">Apellido Materno</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpApellidoMaterno" aria-describedby="inpNumero" optional>
                                        <div class="invalid-feedback">
                                            Introducir nombre del Beneficiario
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- FILA TRES -->
                            <div class="form-row">
                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divNombreSentenciado ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbNombreSentenciado">Nombre(s)</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpNombreSentenciado" aria-describedby="inpNumero" required>
                                        <div class="invalid-feedback">
                                            Introducir nombre del Beneficiario
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-1">
                                    <div class="input-group" id="divBusquedaSentenciado">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbBusquedaSentenciado">Coincidencias</span>
                                        </div>
                                        <input type="text" class="form-control mr-3" id="inpBusquedaSentenciado" aria-describedby="inpNumero" disabled>
                                        <button id="botonMostrarBeneficiarios" type="button" class="btn btn-secondary btn-sm mr-3"><i class="fa fa-eye icon"></i></button>
                                        <button id="botonCheckBeneficiarios" type="button" class="btn btn-secondary btn-sm mr-3"><i class="fa fa-check-circle icon"></i></button>
                                        <button id="botonCerrarBeneficiarios" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-eraser"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="seccionBeneficiario">
                            <div class="form-row">
                                <div class="col-12 mt-1">
                                    <label class="mr-4" for="validationCustom04">¿Sentenciado Interno? </label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" required>
                                        <label class="custom-control-label" for="customRadioInline1">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" required>
                                        <label class="custom-control-label" for="customRadioInline2">NO</label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row mt-3">
                                <div class="col-12">
                                    <label for="validationCustom04">Solicitante</label>
                                </div>
                            </div>

                            <!-- FILA CINCO -->
                            <div class="form-row">
                                <div class="col-12 col-md-5 mt-1">
                                    <select class="custom-select" id="slctSolicitante" required>
                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                        <option value="J">JUZGADO</option>
                                        <option value="C">CERESO</option>
                                        <option value="SS">SOLICITUD DEL SENTENCIADO</option>
                                        <option value="V">VICTIMA</option>
                                        <option value="O">OTRO</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un Solicitante.
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 mt-1">
                                    <div class="input-group" id="divDetalleSolicitante">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbDetalleSolicitante">Detalle del Solicitante</span>
                                        </div>
                                        <input type="text" class="form-control" id="ipnDetalleSolicitante" aria-describedby="ipnDetalleSolicitante" required>
                                        <div class="invalid-feedback">
                                            Introduzca un detalle para el solicitante.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mt-3">
                                <div class="col-12">
                                    <label for="validationCustom04">Solicitud</label>
                                </div>
                            </div>

                            <!-- FILA SIETE -->
                            <div class="form-row">
                                <div class="col-12 col-md-5 mt-1">
                                    <select class="custom-select" id="slctSolicitud" required>
                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                        <option value="LC">LIBERTAD CONDICIONAL</option>
                                        <option value="RP">REMISIÓN PARCIAL DE LA PENA</option>
                                        <option value="CP">CONMUTACION DE LA PENA</option>
                                        <option value="EP">EXTINCIÓN CON REMISIÓN PARCIAL DE LA PENA</option>
                                        <option value="CUP">CUMPLIMIENTO DE LA PENA</option>
                                        <option value="RD">REPARACIÓN DEL DAÑO</option>
                                        <option value="T">TRASLADO</option>
                                        <option value="DAP">DEMANDA CONTRA AUTORIDAD PENITENCIARIA</option>
                                        <option value="ES">EJECUCIÓN DE SENTENCIA</option>
                                        <option value="O">OTRO</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccione una solicitud
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 mt-1">

                                    <div class="input-group" id="divOtraSolicitud">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbOtraSolicitud">Otro</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpOtraSolicitud" aria-describedby="inpOtraSolicitud" disabled>
                                        <div class="invalid-feedback">
                                            Introduzca otra Solicitud.
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- FILA NUEVE -->
                    <form id="formAnexos" class="needs-validation" novalidate>
                        <div id="seccionBusquedaAnexos">
                            <div class="form-row mt-3">
                                <div class="col-12">
                                    <label for="validationCustom04">Anexos</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mt-1">

                                    @Html.DropDownList("AnexosInicales", new SelectList(ViewBag.AnexosInicales, "IdAnexo", "Descripcion"), "SELECCIONAR OPCIÓN", new { @id = "slctAnexosInicales", @class = "custom-select", @required = "required" })

                                    <div class="invalid-feedback">
                                        Seleccione una Descripción
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mt-1">
                                    <div class="input-group" id="divAddAnexos">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbelAddAnexos">Cantidad</span>
                                        </div>
                                        <input type="number" min="1" max="99" class="form-control mr-3" id="inpAddAnexos" aria-describedby="inpAddAnexos" required>
                                        <button class="btn btn-success btn-sm" type="submit" id="btnAddAnexos"><i class="fas fa-plus-circle"></i></button>
                                        <div class="invalid-feedback">
                                            Introduzca una cantidad
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mt-1">
                                    <div class="input-group" id="divOtroAnexo">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lbOtroAnexo">Otro</span>
                                        </div>
                                        <input type="text" class="form-control" id="inpOtroAnexo" aria-describedby="inpOtroAnexo" disabled>
                                        <div class="invalid-feedback">
                                            Introduzca otro Anexo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- FILA OCHO -->
                    <div id="seccionTablaAnexos">
                        <div class="form-row">
                            <div class="col-12 mt-3">
                                <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Anexos</h6>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="table-responsive text-small">
                                    <table class="table table-bordered table-hover table-sm" id="dataTableAnexos" width="100%" cellspacing="0">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FILA SEIS -->
                    <div id="seccionBotonGuardar">
                        <div class="separator-solid"></div>
                        <div class="form-row">
                            <div class="col-12">
                                <button type="submit" form="formEjecucion" class="btn btn-outline-success text-small"><i class="fas fa-save mr-2"></i>GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div id="ejecucionModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn btn-success mr-3">
                    <span class="fa fa-table icon"></span>
                </div>
                <b>Beneficiarios</b>
                @*<button id="botonMostrarBeneficiarios" type="button" class="btn btn-s"><i class="fa fa-eye icon"></i></button>*@
                <div type="button" class="close" data-dismiss="modal">
                    <i class="btn btn-sm"><span class="fa fa-close icon"></span></i>
                </div>
                <h3 id="contactModelHeader"></h3>
                <div id="ErrorMessageContainer"></div>
            </div>
            <div class="modal-body">
                <div id="modalContainer">
                    <div class="table-responsive text-small">
                        <table class="table table-bordered table-hover table-sm" id="dataTableBeneficiarios" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="mr-3">¿Continuar con el Registro?</p>
                <input type="button" value="Cancelar" id="btnCancelar" class="btn btn-outline-secondary" />
                <input type="button" value="Aceptar" id="btnAceptar" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Iniciales")