
@{
    ViewBag.Title = "Iniciales";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">

                    @Html.Hidden("IdCircuitoHDN", (object)Usuario.IdCircuito)

                    <!-- #region Secciones Juzgado Acusatorio - Tradiconal -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" id="Acusatorio">
                            <a class="nav-link active" id="juzgadoA-tab" data-toggle="tab" href="#JuzgadoA" role="tab" aria-controls="JuzgadoA" aria-selected="true">Juzgado Acusatorio</a>
                        </li>
                        <li class="nav-item" id="Tradicional">
                            <a class="nav-link" id="juzgadoT-tab" data-toggle="tab" href="#JuzgadoT" role="tab" aria-controls="JuzgadoT" aria-selected="false">Juzgado Tradicional</a>
                        </li>
                    </ul>
                    <!-- #endregion Juzgado Acusatorio -->
                    <!-- #region Navegacion Juzgados-->
                    <div class="tab-content" id="myTabContent">
                        <!-- #region Juzgado Acusatorio-->
                        <div class="tab-pane fade show active" id="JuzgadoA" role="tabpanel" aria-labelledby="juzgadoA-tab">
                            <form id="formCausas" class="needs-validation mt-4" novalidate>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="validationCustom04">Juzgado de Procedencia:</label>

                                        @Html.DropDownList("SelectJuzgadoAcusatorio", new SelectList(ViewBag.JuzgadosAcusatorios, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctJuzgado", @class = "custom-select custom-select-sm", @required = "required" })

                                        <div class="invalid-feedback">
                                            Seleccionar Juzgado.
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="slcNumero">Causa/Nuc</label>
                                        <select class="custom-select custom-select-sm" id="slctNumero">
                                            <option value="1">NO. CAUSA</option>
                                            <option value="2">NO. UNICO DE CASO</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccionar N° Unico de Caso / N° Causa.
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="my-1 mr-2" for="inpNumero" id="NumeroLabel">Numero de Causa:</label>
                                     
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="spnNumero">Causa</span>
                                            </div>
                                            <input type="text" id="Numero" name="Numero" class="form-control form-control-sm mr-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-inputmask-clearmaskonlostfocus="true" required >
                                            <button class="btn btn-success btn-sm" type="submit" id="btnNUC"><i class="fa fa-search"></i></button> 
                                        </div>
                                    
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- #endregion Juzgado Acusatorio-->
                        <!-- #region Juzgado Tradicional -->
                        <div class="tab-pane fade" id="JuzgadoT" role="tabpanel" aria-labelledby="juzgadoT-tab">
                            <form id="formCausasTradicional" class="needs-validation mt-4" novalidate>
                                <div class="form-row">
                                    <div class="col-md-3 ">
                                        <label for="slcNumero">Distrito de Procedencia</label>

                                        @Html.DropDownList("DistritoPorCircuito", new SelectList(ViewBag.DistritosPorCircuito, "IdDistrito", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctDistrito", @class = "custom-select custom-select-sm", @required = "required" })

                                        <div class="invalid-feedback">
                                            Selecciona un Distrito.
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="validationCustom04">Juzgado de Procedencia</label>
                                        <select class="custom-select custom-select-sm" id="slctJuzgadoTradi" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Selecciona un Juzgado.
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationCustomUsername">Numero de Causa:</label>
                                        <div class="input-group input-group-sm" id="divCAU">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend">CAUSA</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm mr-3" id="inpCAUT" aria-describedby="inpCAU" placeholder="00-0000-0000" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnCAU"><i class="fas fa-search"></i></button>
                                            <div class="invalid-feedback">
                                                Introduce Numero de Causa.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- #endregion Juzgado Tradicional -->
                    </div>
                    <!-- #endregion-->
                    <!--#region Tabla Dinamica Acusatorio - Tradicional-->
                    <div class="tab-content">
                        <div class="form-row mt-3">
                            <div class="col-12">
                                <label>Causas</label>
                            </div>
                        </div>
                        <div class="table-responsive text-small">
                            <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                    <!-- #endregion -->

                    <div class="tab-content">
                        <div class="form-row">
                            <div class="col-12 col-md-6">
                                <form id="formTocas" class="needs-validation" novalidate>
                                    <div class="form-row">
                                        <div class="col-12 col-md-7 mt-3">
                                            <label for="validationCustom04">Salas</label>

                                            @Html.DropDownList("SalasAcusatorio", new SelectList(ViewBag.SalasAcusatorio, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctSalaAcusatorio", @class = "custom-select custom-select-sm", @required = "required" })

                                            @Html.DropDownList("SalasTradicional", new SelectList(ViewBag.SalasTradicional, "IdJuzgado", "Nombre"), "SELECCIONAR OPCIÓN", new { @id = "slctSalaTradicional", @class = "custom-select custom-select-sm", @hidden = "hidden" })

                                            <div class="invalid-feedback">
                                                Seleccione una Sala
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 mt-3 mt-md-5">
                                            <div class="input-group input-group-sm" id="divToca">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="lbToca">Toca</span>
                                                </div>
                                                <input type="text" class="form-control mr-2" id="inpToca" aria-describedby="inpToca" required>
                                                <button class="btn btn-success btn-sm" type="submit" id="btnToca"><i class="fas fa-plus-circle"></i></button>
                                                <div class="invalid-feedback">
                                                    Introduzca Una Cantidad
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="table-responsive text-small">
                                                <table class="table table-bordered table-hover table-sm" id="dataTableTocas" width="100%" cellspacing="0">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-row">
                                    <div class="col-12 mt-3">
                                        <label for="validationCustom04">Sentencia de Amparo Vinculada</label>
                                        <div class="input-group input-group-sm" id="divAmparo">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbAmparo">Amparo</span>
                                            </div>
                                            <input type="text" class="form-control mr-2" id="ipnAmparo" aria-describedby="inpAmparo" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnToca"><i class="fas fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                Introduzca Una Cantidad
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive text-small">
                                            <table class="table table-bordered table-hover table-sm" id="dataTableAmparos" width="100%" cellspacing="0">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONTENEDOR BENEFICIARIO -->
                    <div class="tab-content" id="contenedorBeneficiario" hidden>
                        <form id="formEjecucion" class="needs-validation" novalidate>
                            <!-- BUSCADOR BENEFICIARIO -->
                            <div id="seccionBusquedaBeneficiario">

                                <!-- FILA UNO -->
                                <div class="form-row mt-4">
                                    <div class="col-12">
                                        <label for="validationCustomUsername">Sentenciado/Beneficiario</label>
                                    </div>
                                </div>

                                <!-- FILA DOS -->
                                <div class="form-row">
                                    <div class="col-12 col-md-6 mt-1">
                                        <div class="input-group input-group-sm" id="divApellidoPSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbApellidoPaterno">Apellido Paterno</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpApellidoPaterno" aria-describedby="inpNumero" required>
                                            <div class="invalid-feedback">
                                                Introducir nombre del Beneficiario
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mt-3 mt-md-1">
                                        <div class="input-group input-group-sm" id="divApellidoMSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbApellidoMaterno">Apellido Materno</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpApellidoMaterno" aria-describedby="inpNumero" optional>
                                            <div class="invalid-feedback">
                                                Introducir nombre del Beneficiario
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- FILA TRES -->
                                <div class="form-row">
                                    <div class="col-12 col-md-6 mt-3">
                                        <div class="input-group input-group-sm" id="divNombreSentenciado ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbNombreSentenciado">Nombre(s)</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpNombreSentenciado" aria-describedby="inpNumero" required>
                                            <div class="invalid-feedback">
                                                Introducir nombre del Beneficiario
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-3">
                                        <div class="input-group input-group-sm" id="divBusquedaSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbBusquedaSentenciado">Coincidencias</span>
                                            </div>
                                            <input type="text" class="form-control mr-3" id="inpBusquedaSentenciado" aria-describedby="inpNumero" disabled>
                                            <button id="botonMostrarBeneficiarios" type="button" class="btn btn-secondary btn-sm mr-3"><i class="fa fa-eye icon"></i></button>
                                            <button id="botonCheckBeneficiarios" type="button" class="btn btn-secondary btn-sm mr-3"><i class="fa fa-check-circle icon"></i></button>
                                            <button id="botonCerrarBeneficiarios" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-close icon"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="seccionBeneficiario">
                                <div class="form-row">
                                    <div class="col-12 mt-3">
                                        <label class="mr-4" for="validationCustom04">¿Sentenciado Interno? </label>
                                        <div class="custom-control custom-radio custom-control-inline form-control-sm">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" required>
                                            <label class="custom-control-label" for="customRadioInline1">SI</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline form-control-sm">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" required>
                                            <label class="custom-control-label" for="customRadioInline2">NO</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- FILA CINCO -->
                                <div class="form-row">
                                    <div class="col-12 col-md-5 mt-3">
                                        <label for="validationCustom04">Solicitante</label>
                                        <select class="custom-select custom-select-sm" id="slctSolicitante" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                            <option value="J">JUZGADO</option>
                                            <option value="C">CERESO</option>
                                            <option value="SS">SOLICITUD DEL SENTENCIADO</option>
                                            <option value="V">VICTIMA</option>
                                            <option value="O">OTRO</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccionar un Solicitante.
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-7 mt-3 mt-md-5">
                                        <div class="input-group input-group-sm" id="divDetalleSolicitante">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbDetalleSolicitante">Detalle del Solicitante</span>
                                            </div>
                                            <input type="text" class="form-control" id="ipnDetalleSolicitante" aria-describedby="ipnDetalleSolicitante" required>
                                            <div class="invalid-feedback">
                                                Introduzca un detalle para el solicitante.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- FILA SIETE -->
                                <div class="form-row">
                                    <div class="col-12 col-md-5 mt-3">
                                        <label for="validationCustom04">Solicitud</label>
                                        <select class="custom-select custom-select-sm" id="slctSolicitud" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                            <option value="LC">LIBERTAD CONDICIONAL</option>
                                            <option value="RP">REMISIÓN PARCIAL DE LA PENA</option>
                                            <option value="CP">CONMUTACION DE LA PENA</option>
                                            <option value="EP">EXTINCIÓN CON REMISIÓN PARCIAL DE LA PENA</option>
                                            <option value="CUP">CUMPLIMIENTO DE LA PENA</option>
                                            <option value="RD">REPARACIÓN DEL DAÑO</option>
                                            <option value="T">TRASLADO</option>
                                            <option value="DAP">DEMANDA CONTRA AUTORIDAD PENITENCIARIA</option>
                                            <option value="ES">EJECUCIÓN DE SENTENCIA</option>
                                            <option value="O">OTRO</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccione una solicitud
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 mt-3 mt-md-5">

                                        <div class="input-group input-group-sm" id="divOtraSolicitud">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbOtraSolicitud">Otro</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpOtraSolicitud" aria-describedby="inpOtraSolicitud" disabled>
                                            <div class="invalid-feedback">
                                                Introduzca otra Solicitud.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- FILA NUEVE -->
                        <form id="formAnexos" class="needs-validation" novalidate>
                            <div id="seccionBusquedaAnexos">
                                <div class="form-row">
                                    <div class="col-12 col-md-9 mt-3">
                                        <label for="validationCustom04">Anexos</label>

                                        @Html.DropDownList("AnexosInicales", new SelectList(ViewBag.AnexosInicales, "Tipo", "Descripcion"), "SELECCIONAR OPCIÓN", new { @id = "slctAnexosInicales", @class = "custom-select custom-select-sm", @required = "required" })

                                        <div class="invalid-feedback">
                                            Seleccione una Descripción
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mt-3 mt-md-5">
                                        <div class="input-group input-group-sm" id="divAddAnexos">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbelAddAnexos">Cantidad</span>
                                            </div>
                                            <input type="text" class="form-control mr-3" id="inpAddAnexos" aria-describedby="inpAddAnexos" required>
                                            <button class="btn btn-success btn-sm" type="submit" id="btnAddAnexos"><i class="fas fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                Introduzca una cantidad
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 col-md-9 mt-2">
                                        <div class="input-group input-group-sm" id="divOtroAnexo">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbOtroAnexo">Otro</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpOtroAnexo" aria-describedby="inpOtroAnexo" disabled>
                                            <div class="invalid-feedback">
                                                Introduzca otro Anexo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- FILA OCHO -->
                        <div id="seccionTablaAnexos">
                            <div class="form-row">
                                <div class="col-12 col-md-9">
                                    <div class="table-responsive text-small">
                                        <table class="table table-bordered table-hover table-sm" id="dataTableAnexos" width="100%" cellspacing="0">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FILA SEIS -->
                        <div id="seccionBotonGuardar">
                            <div class="form-row">
                                <div class="col-12">
                                    <button type="submit" form="formEjecucion" class="btn btn-outline-success text-small"><i class="fas fa-save mr-2"></i>GUARDAR</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div id="ejecucionModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn btn-success mr-3">
                    <span class="fa fa-table icon"></span>
                </div>
                <b>Beneficiarios</b>
                @*<button id="botonMostrarBeneficiarios" type="button" class="btn btn-s"><i class="fa fa-eye icon"></i></button>*@

                <div type="button" class="close" data-dismiss="modal">
                    <i class="btn btn-sm"><span class="fa fa-close icon"></span></i>
                </div>
                <h3 id="contactModelHeader"></h3>
                <div id="ErrorMessageContainer"></div>
            </div>
            <div class="modal-body">
                <div id="modalContainer">
                    <div class="table-responsive text-small">
                        <table class="table table-bordered table-hover table-sm" id="dataTableBeneficiarios" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="mr-3">¿Continuar con el Registro?</p>
                <input type="button" value="Cancelar" id="btnCancelar" class="btn btn-outline-secondary" />
                <input type="button" value="Aceptar" id="btnAceptar" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Iniciales")

