
@{
    ViewBag.Title = "Iniciales";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <!-- #region Secciones Juzgado Acusatorio - Tradiconal -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" id="Acusatorio">
                            <a class="nav-link active" id="juzgadoT-tab" data-toggle="tab" href="#JuzgadoT" role="tab" aria-controls="JuzgadoT" aria-selected="true">Juzgado Acusatorio</a>
                        </li>
                        <li class="nav-item" id="Tradicional">
                            <a class="nav-link" id="juzgadoA-tab" data-toggle="tab" href="#JuzgadoA" role="tab" aria-controls="JuzgadoA" aria-selected="false">Juzgado Tradicional</a>
                        </li>
                    </ul>
                    <!-- #endregion Juzgado Acusatorio -->
                    <!-- #region Navegacion Juzgados-->
                    <div class="tab-content" id="myTabContent">
                        <!-- #region Juzgado Acusatorio-->
                        <div class="tab-pane fade show active" id="JuzgadoT" role="tabpanel" aria-labelledby="juzgadoT-tab">
                            <form id="formCausas" class="needs-validation mt-4" novalidate>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom04">Juzgado de Procedencia:</label>
                                        <select class="custom-select" id="slctJuzgado" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccionar Juzgado.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="slcNumero">N° Unico Caso - N° Causa</label>
                                        <select class="custom-select" id="slctNumero">
                                            <option value="1">NUMERO DE CAUSA</option>
                                            <option value="2">NUMERO UNICO DE CASO</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccionar N° Unico de Caso / N° Causa.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="my-1 mr-2" for="inpNumero" id="NumeroLabel">Numero de Causa:</label>
                                        <div class="input-group" id="divNUC">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="spnNumero">CAUSA</span>
                                            </div>
                                            <input type="text" id="Numero" name="Numero" class="form-control mr-3" data-inputmask-clearmaskonlostfocus="true" required />
                                            <button class="btn btn-success" type="submit" id="btnNUC"><i class="fa fa-plus-circle"></i></button>
                                            <div class="invalid-feedback">
                                                Introducir N° Unico de Caso.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- #endregion Juzgado Acusatorio-->
                        <!-- #region Juzgado Tradicional -->
                        <div class="tab-pane fade" id="JuzgadoA" role="tabpanel" aria-labelledby="juzgadoA-tab">
                            <form id="formCausasTradicional" class="needs-validation mt-4" novalidate>
                                <div class="form-row">
                                    <div class="col-md-2 mb-3">
                                        <label for="slctCircuitoTr">Circuito</label>
                                        <select class="custom-select" id="slctCircuitoTr" disabled></select>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="slcNumero">Distrito de Procedencia</label>
                                        <select class="custom-select" id="slctDistrito" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Selecciona un Distrito.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="slcNumeroT">N° Unico Caso - N° Causa</label>
                                        <select class="custom-select" id="slctNumeroT">
                                            <option value="1">NUMERO DE CAUSA</option>
                                            <option value="2">NUMERO UNICO DE CASO</option>
                                        </select>

                                        <div class="invalid-feedback">
                                            Seleccionar N° Unico de Caso / N° Causa.
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label class="my-1 mr-2" for="inpNumeroT" id="NumeroLabelT">Numero de Causa:</label>
                                        <div class="input-group" id="divNUC">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="spnNumeroT">CAUSA</span>
                                            </div>
                                            <input type="text" id="NumeroT" name="NumeroT" class="form-control mr-3" data-inputmask-clearmaskonlostfocus="true" required />
                                            <button class="btn btn-success" type="submit" id="btnNUC"><i class="fas fa-search"></i></button>
                                            <div class="invalid-feedback">
                                                Introducir N° Unico de Caso.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                </div>
                            </form>
                        </div>
                        <!-- #endregion Juzgado Tradicional -->
                    </div>
                    <!-- #endregion-->
                    <!--#region Tabla Dinamica Acusatorio - Tradicional-->
                    <div class="tab-content">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                    <!-- #endregion -->

                    <!-- #region Formulario Tocas Tradicional-->
                    <div class="form-row" id="FormTocas">
                        <div class="col-md-4 mb-3">
                            <label for="comboSala">Sala Tradicional:</label>
                            <select class="custom-select" id="comboSala" required>
                                <option selected value="">SELECCIONAR OPCIÓN</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Sala.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="my-1 mr-2" for="Sala_Tradicional" id="Sala_Tradicional">Numero de Toca:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="spnSalaTradicional">N°</span>
                                </div>
                                <input type="text" id="Sala_Tradicional" name="Sala_Tradicional" class="form-control mr-3" data-inputmask-clearmaskonlostfocus="true" required />
                                <button class="btn btn-success" type="submit" id="btnSala_Tradicional"><i class="fa fa-plus-circle"></i></button>
                                <div class="invalid-feedback">
                                    Introducir N° Unico de Caso.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion Formulario Tocas-->

                    <!-- #region Formulario Tocas Acusatorio-->
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="comboSala_Acusatorio">Sala Acusatorio:</label>
                            <select class="custom-select" id="comboSala_Acusatorio" required>
                                <option selected value="">SELECCIONAR OPCIÓN</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Sala.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="my-1 mr-2" for="Sala_Acusatorio" id="NumeroLabel">Numero de Toca:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="spnSala_Acusatorio">N°</span>
                                </div>
                                <input type="text" id="Sala_Acusatorio" name="Sala_Acusatorio" class="form-control mr-3" data-inputmask-clearmaskonlostfocus="true" required />
                                <button class="btn btn-success" type="submit" id="btnSala_Acusatorio" onclick="Obtener_Val_Sala_Acusatorio()"><i class="fa fa-plus-circle"></i></button>
                                <div class="invalid-feedback">
                                    Introducir N° Unico de Caso.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion Formulario Tocas-->
                    <!-- CONTENEDOR BENEFICIARIO -->
                    <div class="tab-content" id="contenedorBeneficiario">

                        <form id="formEjecucion" class="needs-validation" novalidate>
                            <!-- BUSCADOR BENEFICIARIO -->
                            <div id="seccionBusquedaBeneficiario">

                                <!-- FILA UNO -->
                                <div class="form-row mt-4">
                                    <div class="col-12">
                                        <label for="validationCustomUsername">Sentenciado/Beneficiario</label>
                                    </div>
                                </div>

                                <!-- FILA DOS -->
                                <div class="form-row">
                                    <div class="col-12 col-md-6 mt-1">
                                        <div class="input-group" id="divApellidoPSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbApellidoPaterno">Apellido Paterno</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpApellidoPaterno" aria-describedby="inpNumero" required>
                                            <div class="invalid-feedback">
                                                Introducir nombre del Beneficiario
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mt-3 mt-md-1">
                                        <div class="input-group" id="divApellidoMSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbApellidoMaterno">Apellido Materno</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpApellidoMaterno" aria-describedby="inpNumero" optional>
                                            <div class="invalid-feedback">
                                                Introducir nombre del Beneficiario
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- FILA TRES -->
                                <div class="form-row">
                                    <div class="col-12 col-md-6 mt-3">
                                        <div class="input-group" id="divNombreSentenciado ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbNombreSentenciado">Nombre(s)</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpNombreSentenciado" aria-describedby="inpNumero" required>
                                            <div class="invalid-feedback">
                                                Introducir nombre del Beneficiario
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-3">
                                        <div class="input-group" id="divBusquedaSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="lbBusquedaSentenciado">Consultar</span>
                                            </div>
                                            <input type="text" class="form-control mr-3" id="inpBusquedaSentenciado" aria-describedby="inpNumero" disabled>
                                            <button id="botonMostrarBeneficiarios" type="button" class="btn btn-success mr-3"><i class="fa fa-eye icon"></i></button>
                                            <button id="botonMostrarBeneficiarios" type="button" class="btn btn-success"><i class="fa fa-check-circle icon"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="seccionBeneficiario">
                                <!-- FILA CUATRO -->
                                <div class="form-row">
                                    <div class="col-12 col-md-6 mt-3">
                                        
                                    </div>
                                </div>

                                <!-- FILA CINCO -->
                                <div class="form-row">
                                    <div class="col-12 col-md-4 mt-3">
                                        <label for="validationCustom04">Solicitante</label>
                                        <select class="custom-select" id="slctJuzgado" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccionar Juzgado.
                                        </div>

                                    </div>
                                    <div class="col-12 col-md-8 mt-3 mt-md-5">
                                        <div class="input-group" id="divNombreSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inpNombreSentenciado">Otro</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpNumero" aria-describedby="inpNumero" disabled>
                                            <div class="invalid-feedback">
                                                Introdusca un valor
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- FILA SEIS -->
                                <div class="form-row">
                                    <div class="col-12 mt-3">
                                        <div class="input-group" id="divNombreSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inpNombreSentenciado">Detalle del Solicitante</span>
                                            </div>
                                            <input type="text" class="form-control" id="inpNumero" aria-describedby="inpNumero" required>
                                            <div class="invalid-feedback">
                                                Introdusca un valor
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- FILA SIETE -->
                                <div class="form-row">
                                    <div class="col-12 col-md-8 mt-3">
                                        <label for="validationCustom04">Solicitud</label>
                                        <select class="custom-select" id="slctJuzgado" required>
                                            <option selected value="">SELECCIONAR OPCIÓN</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccionar Juzgado.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 mt-5">
                                        <div class="input-group" id="divNombreSentenciado">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mr-3" id="inpNUC">Crear Inicial</span>
                                            </div>
                                            <button class="btn btn-success " type="submit" id="btnNUC"><i class="fas fa-save"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <!-- FILA OCHO -->
                        <form id="formAnexos" class="needs-validation" novalidate>
                            <div id="seccionBusquedaAnexos">
                                <div class="form-row">
                                    <div class="col-12 col-md-8 mt-3">
                                        <label for="validationCustom04">Anexos</label>
                                        <select class="custom-select" id="slctJuzgado" required>
                                            <option selected value="">SELECCIONAR DESCRIPCIÓN</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Seleccione una Descripción
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 mt-3 mt-md-5">
                                        <div class="input-group" id="divNUC">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inpNUC">Cantidad</span>
                                            </div>
                                            <input type="text" class="form-control mr-3" id="inpNumero" aria-describedby="inpNUC" required>
                                            <button class="btn btn-success" type="submit" id="btnNUC"><i class="fas fa-plus"></i></button>
                                            <div class="invalid-feedback">
                                                Introduzca Una Cantidad
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- FILA NUEVE -->
                        <div id="seccionTablaAnexos">
                            <div class="form-row">
                                <div class="col-8">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-sm" id="dataTableAnexos" width="100%" cellspacing="0">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div id="ejecucionModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Contenido del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn btn-success mr-3">
                    <span class="fa fa-table icon"></span>
                </div>
                <b>Beneficiarios</b>
                @*<button id="botonMostrarBeneficiarios" type="button" class="btn btn-s"><i class="fa fa-eye icon"></i></button>*@

                <div type="button" class="close" data-dismiss="modal">
                    <i class="btn btn-sm"><span class="fa fa-close icon"></span></i>
                </div>
                <h3 id="contactModelHeader"></h3>
                <div id="ErrorMessageContainer"></div>
            </div>
            <div class="modal-body">
                <div id="modalContainer">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-sm" id="dataTableBeneficiarios" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="mr-3">¿Continuar con el Registro?</p>
                <input type="button" value="Cancelar" id="btnCancelar" class="btn btn-outline-secondary" />
                <input type="button" value="Aceptar" id="btnAceptar" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Master/Bootstrap")
@Scripts.Render("~/Scripts/Master/BootBox");
@Scripts.Render("~/Scripts/Modules/Ejecucion/Iniciales")

